 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Sql

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Numpy
3. Scipy
4. Pandas

|Data Science Tools|
--------------------
|Apache Spark|
|Tableau|
|MATLAB|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [6]:
min = 200
hrs = (min)/60
print(hrs)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
List popular languages for Data Science.
* Python
* R
* SQL
* Java

## Author
Aniket kr singh